data/tinyimagenet200.tar.gz filter=lfs diff=lfs merge=lfs -text
tests/models/trained_checkpoints/mobilenet.pth filter=lfs diff=lfs merge=lfs -text
tests/models/trained_checkpoints/resnet50.pth filter=lfs diff=lfs merge=lfs -text
tests/models/trained_checkpoints/resnet20.pth filter=lfs diff=lfs merge=lfs -text
tests/models/trained_checkpoints/mlpnet_mnist.pth filter=lfs diff=lfs merge=lfs -text
